<table *ngIf="!errorMessage" class="table">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Author</th>
    <th>Anzahl Seiten</th>
    <th>Publisher</th>
  </tr>
  <tr *ngFor="let book of bookListe; let i = index">
    <td>{{i}}</td>
    <td><a [routerLink]="[book.isbn]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td>{{book.numPages}}</td>
    <td><a href="{{book.publisher.url}}">{{book.publisher.name}}</a></td>
  </tr>
</table>

<div style="background-color: #ff2128" *ngIf="errorMessage"><h2>{{errorMessage}}</h2></div>
